{% extends "layout_no_session.html" %} {% block title %}
<title>Hevean Corp - About</title>
{% endblock %} {% block content %}

<div class="row">
    <h2>About</h2>
</div>

<div class="row">

    <img width="500px" src="../images/teamwork.jpg" />
</div>

<div class="row">

    <h3>Who we are</h3>
    <p>
        Every individual’s reason to invest and trade on their own is unique. No matter the skill level, we provide the online trading tools, educational resources, banking services, and investment products for traders and investors. For more than 30 years, our
        clients have put their trust in us to deliver solutions and personalized service that supports their needs and helps them define their own financial success. At Heaven Corp, it has been, and always will be about doing what’s right.
        <p/>
</div>

{% endblock %}