{% extends "layout_no_session.html" %} {% block title %}
<title>Hevean Corp - Online Chat Service</title>
{% endblock %} {% block content %}

<div class="row">
    <h2>Chat Service</h2>
    <h4>Welcome to HeavenCorp online chat service.</h4>
</div>

<div class="row">

    <ul class="pages">
        <li class="chat page">
            <div class="chatArea">
                <ul class="messages"></ul>
            </div>
            <input class="inputMessage" placeholder="Type here..." />
        </li>
        <li class="login page">
            <div class="form">
                <h3 class="title">What's your nickname?</h3>
                <input class="usernameInput" type="text" maxlength="14" />
            </div>
        </li>
    </ul>

</div>

{% endblock %}