{% extends "layout_no_session.html" %} {% block title %}
<title>Hevean Corp - Contact</title>
{% endblock %} {% block content %}

<div class="row">
    <h2>Contact</h2>
</div>

<div class="row">

    <img width="500px" src="../images/contact.jpg" />
</div>

<div class="row">

    <p>If you have any feedback or would like help setting up an account please feel free to contact us using any of the methods below.</p>

    <h4>Via email:</h4>
    <p>
        Steven Banes (technical support) : sbanes@mailinator.com
        <p/>

        <h4>Via online chat:</h4>
        <p>
            Chat to one of our trained consultants online:
            <p/>
            <a href="/chat"> Online Help Chat Service </a>

            <h4>Via twitter:</h4>
            <p>
                @HeavenCorp
                <p/>

</div>

{% endblock %}