{% extends "layout_no_session.html" %} {% block title %}
<title>Hevean Corp - Home</title>
{% endblock %} {% block content %}

<div class="row">
    <h2>Welcome to Heaven Corp</h2>
</div>
<div class="row">

    <img width="500px" src="../images/investment.jpg" />
</div>

<div class="row">
    <h3>Save for the future</h3>

    <p>Whether you’re opening your very first retirement account or rolling over an existing account, it is quick and easy to open an IRA. We offer transparent pricing, a wide variety of investment choices and objective third-party research from Morningstar®,
        Market Edge® and Standard and Poor’s to help you make informed decisions and implement an investment strategy based on your specific financial goals.</p>

    <h3>Tax-Deferred Savings</h3>

    <p>With no annual income limits, Traditional IRAs make it easier to set aside money (if the contribution is tax deductible). That money will continue to grow tax-deferred. Depending on your income and eligibility, you may also qualify for these contributions
        to be tax-deductible. HeavenCorp offers Traditional IRAs with a variety of investment options including stocks, ETFs, bonds, mutual funds and more. To determine whether this is the right fit for you, read more about Traditional IRAs.</p>


    <h3>Traditional IRA</h3>

    <p>An individual retirement account (IRA) that allows individuals to direct pretax income, up to specific annual limits, toward investments that can grow tax-deferred (no capital gains or dividend income is taxed). Individual taxpayers are allowed to
        contribute 100% of compensation up to a specified maximum dollar amount to their Traditional IRA. Contributions to the Traditional IRA may be tax-deductible depending on the taxpayer's income, tax-filing status and other factors.</p>

</div>

{% endblock %}